/* Header
***********************************************************/
.logo_innov1{
	color: #FBB03B;
}

.logo_innov2{
	color: #444;
}
.slogan_innov{
	color: #313131;
	text-transform: uppercase;
	font-size: 0.9rem;
	line-height: 0;
	font-weight: bold;
	margin-bottom: 4rem;
}
.container_logo_innov{
	margin-top: 0;
}



/* Footer
***********************************************************/
footer hr{
	margin-top: 0px;	
}

.col-md-12{
	padding-right: 0;
}

/* Contenido
***********************************************************/
.jumbotron{
	padding-top: 0;
}

.jumbotron p{
	font-size: 1.6rem;
}

/* Texto
***********************************************************/
h1{
	margin-top: 0;
}
h2{
	margin-top: 20px;
	margin-bottom: 10px;	
}
