<!DOCTYPE html>
<html class="blanco_b" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INNOV | Mejores ventas, mejores negocios, mejores vidas</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"><!-- Bootstrap -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet"><!-- CSS -->
    <link href="/css/inicio.css" rel="stylesheet"><!-- CSS Inicio -->
    <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
    <!-- Google Maps -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/js/google_maps_inicio.js"></script>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- GA -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53168914-1', 'auto');
      ga('send', 'pageview');
    </script>

  </head>
  <body class="blanco_b">
    <header class="row amarillo">
      <div class="container fondo_blanco_pattern_inicio">
          <!-- navbar -->
          <nav class="navbar navbar-default pull-right" role="navigation">
            <ul class="nav nav-pills">
                <li class="active">
                  <a href="#">
                    <i class="fa fa-home img-circle fa-inn2"></i>
                    <p>INICIO</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-cogs img-circle fa-inn2"></i>
                    <p>MÉTODO</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-spinner img-circle fa-inn2"></i>
                    <p>INNOV</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-certificate img-circle fa-inn2"></i>
                    <p>PLANES</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users img-circle fa-inn2"></i>
                    <p>NOSOTROS</p>
                  </a>
                </li>
            </ul>
          </nav><!-- End navbar -->


        <!-- Logo -->
        <div class="container_logo_innov pull-left">
          <a class="main-logo logo_innov" href="#">
            <span class="logo_innov1">IN</span><span class="logo_innov2">NOV</span>
            <p class="slogan_innov">La Evolución de las Páginas Web</p>
          </a>
        </div><!-- End Logo -->


      </div>
    </header>
<!-- Fin Header -->

    <div class="container">
      {tag_pagecontent}
    </div>


<!-- Inicio Footer -->
    <footer class="footer row negrofooter">
      <div class="container">
        <div class="col-md-12">
          <br>
          <h3>Contáctanos</h3>
          <br>
        </div>
        <br>
        <div class="col-md-6 text-left">
          <img id="edificio_oficinas_innov" class="img-thumbnail img-responsive pull-left" src="/img/inicio/oficina.jpg" alt="">
          <address>
            <strong>INNOV MS S.A.S.</strong><br>
            Carrera 7 # 99 - 21<br>
            Torre 1 Piso 14<br>
            Bogotá DC -Colombia<br><br>
            <strong>Teléfonos:</strong><br>
            (+57)(1) 680 11 26<br>
            (+57)  320 331 90 43<br><br>
            <strong>Correo:</strong><br>
            <a href="mailto:info@innov.com.co">info@innov.com.co</a>
          </address>

        </div>

        <div class="col-md-2">
          <h4>INNOV</h4>
          <ul class="list-unstyled">
            <li>Nombre Elemento 1</li>
            <li>Nombre Elemento 2</li>
            <li>Nombre Elemento 3</li>
            <li>Nombre Elemento 4</li>
            <li>Nombre Elemento 5</li>
            <li>Nombre Elemento 6</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h4>Método</h4>
          <ul class="list-unstyled">
            <li>Nombre Elemento 1</li>
            <li>Nombre Elemento 2</li>
            <li>Nombre Elemento 3</li>
            <li>Nombre Elemento 4</li>
            <li>Nombre Elemento 5</li>
            <li>Nombre Elemento 6</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h4>Nosotros</h4>
          <ul class="list-unstyled">
            <li>Nombre Elemento 1</li>
            <li>Nombre Elemento 2</li>
            <li>Nombre Elemento 3</li>
            <li>Nombre Elemento 4</li>
            <li>Nombre Elemento 5</li>
            <li>Nombre Elemento 6</li>
          </ul>
        </div>

        <div id="terminos_condiciones_innov" class="col-md-12">
          <p class="pull-left">
            <a href="">Política de Privacidad</a>
            <a href="">Términos de Servicio</a>
            <a href="">Mapa del Sitio</a>
            <br>INNOV MS S.A.S. © 2014  |  Todos los derechos reservados.
          </p>
          <img class="pull-right" src="/img/inicio/created_with_adobe_technology_logotype_stacked_with_logo.jpg" alt="">
        </div>

      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>