<!DOCTYPE html>
<html class="blanco_b" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INNOV | Mejores ventas, mejores negocios, mejores vidas</title>
    {module_contentholder,124569}<!-- head-scripts -->
  </head>
  <body class="blanco_b">
    <section class="wrapper_ppal">
      <header class="row bloque amarillo">
        <div class="container fondo_blanco_pattern_inicio">
          <!-- Menu -->
          {module_menu, version="2", menuId="2134772", moduleTemplateGroup="Default"}
          <!-- Logo -->
          <div class="container_logo_innov pull-left">
            <a class="main-logo logo_innov" href="#">
              {module_webapps,36832,i,7971096,,,,1000,true,1 template="/apps/Mi-Empresa/marca.tpl"}
              <p class="slogan_innov">
                {module_webapps,36832,i,7971096,,,,1000,true,1 template="/apps/Mi-Empresa/slogan.tpl"}
              </p>
            </a>
          </div><!-- End Logo -->


        </div>
      </header>
  <!-- Fin Header -->

        <section class="bloque pushs">
          {tag_pagecontent}
        </section>


  <!-- Inicio Footer -->
      <footer class="footer row negrofooter bloque">
        <div class="container">
          <div class="col-md-12">
            <br>
            <h3>Contáctanos</h3>
            <br>
          </div>
          <br>
          <div class="col-md-6 text-left">
            <!-- Info contacto Mi Empresa -->
            {module_webapps,36832,i,7971096,,,,1000,true,1}
          </div>

          <div class="col-md-2">
            <!-- Menu INNOV -->
            {module_menu, version="2", menuId="2134779", moduleTemplateGroup="Footer"}
          </div>
          <div class="col-md-2">
            <!-- Menu Capacitación -->
            {module_menu, version="2", menuId="2134780", moduleTemplateGroup="Footer"}
          </div>
          <div class="col-md-2">
            <!-- Menu Soporte -->
            {module_menu, version="2", menuId="2134781", moduleTemplateGroup="Footer"}
          </div>

          <div id="terminos_condiciones_innov" class="col-md-12">
            <!-- Menu Terminos -->
            {module_menu, version="2", menuId="2134782", moduleTemplateGroup="Footer_terminos"}

            <img class="pull-right" src="/img/inicio/created_with_adobe_technology_logotype_stacked_with_logo.jpg" alt="">
          </div>

        </div>
      </footer>

      <!-- body-scripts -->
      {module_contentholder,124570}
    </section>
  </body>
</html>